%nav.navbar.navbar-default.navbar-fixed-top
    %div.container
        %div.navbar-header
        %button.navbar-toggle{'data-target' => '#myNavbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div.collapse.navbar-collapse#myNavbar
            %ul.nav.navbar-nav.navbar-left
                %li
                    %img.img-rounded.logo{:alt => 'RizqLogo', :height => "50px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png", :width => "50px"}
                %li
                    = link_to 'About', "#"
            %ul.nav.navbar-nav.navbar-right
                %li
                    = link_to 'Home Page', root_url
                    
// %div.container-fluid.bg-grey.text-center
//     %p This is some text.
//     %p This is another text.
    
%div.container
    %h1 Hello World!
    .row
        #one.col-sm-6
            %img#about{:alt => "About", :src => "about.jpg"}
        #two.col-sm-6
            // %h8 About
            %p 
            We are a group of people from 
            %b Lahore University of Management Sciences 
            %b (LUMS), 
            who want to play their part in ridding Pakistan of the nuisances of hunger and malnutrition. 
            We intend to do this in the following ways:
            %ol
                %li
                    By eliminating food wastage in our society by collecting surplus food from functions and providing it to needy.
                %li
                    By promoting awareness regarding healthy dietary habits
                %li
                    By creating a transparent food distribution channel by which people can directly donate food, both freshly made and leftover/surplus from events, and indirectly through monetary donations.
            
            So if you want to donate or have any surplus food from any sort of function (Weddings, Dawats, Home-dinner Parties, Pre-Wedding Ceremonies etc), just call us, we will collect it from your doorstep and deliver it to the needy people.
            %br
            %br
                %b Let's Share Rizq
            %br
                %b Let's SHARE FOOD. FEED HAPPINESS.