%nav.navbar.navbar-default.navbar-fixed-top
    %div.container
        %div.navbar-header
        %button.navbar-toggle{'data-target' => '#myNavbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div.collapse.navbar-collapse#myNavbar
            %ul.nav.navbar-nav.navbar-left
                %li
                    %img.img-rounded.logo{:alt => 'RizqLogo', :height => "50px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png", :width => "50px"}
                %li
                    = link_to 'Contact Us', "#"
            %ul.nav.navbar-nav.navbar-right
                %li
                    = link_to 'Home Page', root_url
                    
%div.container
    %h1 Hello World!
    .row
        #oneCU.col-sm-6
            %img#contactUs{:alt => "Contact Us", :src => "contactUs2.jpg"}
        #twoCU.col-sm-6
            %b#phoneTitle Phone
            %ul#contactNum
                // %li#num
                //     0322-88242089
                %li#num
                    0321-7967979
                %li#num
                    0321-8406523
            %br
            %br
            %br
            %br
            %b#emailTitle Email
            %ul#emailAdd
                %li#email
                    rizq.sharefood@gmail.com