%nav.navbar.navbar-default.navbar-fixed-top
    %div.container
        %div.navbar-header
        %button.navbar-toggle{'data-target' => '#myNavbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div.collapse.navbar-collapse#myNavbar
            %ul.nav.navbar-nav.navbar-left
                %li
                    %img.img-rounded.logo{:alt => 'RizqLogo', :height => "50px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png", :width => "50px"}
                %li
                    = link_to 'Our Team', "#"
            %ul.nav.navbar-nav.navbar-right
                %li
                    = link_to 'Home Page', root_url
%div.container#contOT
    // %h1 Hello World!
    .row
        #oneOT.col-sm-12
            %img#ourTeam{:align => "middle" , :alt => "Our Team", :src => "ourT.jpg"}