@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
    background-color: #1b8e1b;
    height: 100%;
    color: #d28d02;
    padding: 25px 25px;
    overflow: hidden;
}

.container-fluid.bg-grey {
    background-color: #1b8e1b;
    padding: 100px 300px;
}

.navbar {
    background-color: #f7fbdb;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #0a6308 !important;
    // color: #1abc9c !important;
}

.bg-1 { 
    // background-color: #1b8e1b;
    font-color: white;
    color: #ffffff;
}

.carousel-inner img {
    z-index: -999;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    z-index: 999;
    color: #fff !important;
}

// @media (max-width: 600px) {
//     .carousel-caption {
//         display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
//     }
// }