@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #075201;
}


.jumbotron#ab {
    background-color: #1b8e1b;
    background-size: cover;
    // height: 100%;
    color: #d28d02;
    // padding: 20px 200px;
    // overflow: hidden;
}

.container-fluid.bg-grey {
    background-color: #1b8e1b;
    padding: 100px 300px;
}

.navbar {
    background-color: #f7fbdb;
    // background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #0a6308 !important;
    // color: #1abc9c !important;
}

.bg-1 { 
    // background-color: #1b8e1b;
    font-color: white;
    color: #ffffff;
}

#myCarousel {
    background-color: #0D5C0D;
    margin-top: -40px;
    width: 100%;
    height: 493px !important;
    margin-bottom: 40px;
}

#logo {
    // -webkit-filter: grayscale(90%);
    // filter: grayscale(90%); /* make all photos black and white */ 
    width: auto; /* Set width to 100% */
    max-height: 513px !important;
    margin: auto;
}

.carousel-inner img{
    // z-index: -999;
    // -webkit-filter: grayscale(90%);
    // filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    max-height: 513px !important;
    margin: auto;
}

.carousel-caption h3 {
    z-index: 999;
    color: #000000 !important;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
// 	line-height: 26.4px;
    // padding-bottom: 150px;
}

.carousel-caption p {
    z-index: 999;
    color: #000000 !important;
    padding-bottom: 150px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
}

#hello {
    font-size: 400;
    margin: 30px 0 15px;
}

.form-control:focus {
  border-color: #EDBE00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 190, 0, 0.6);
}

// .container {
//     margin-top: -40px;
// }


.col-sm-6 {
    background-color:#F5FFD1;
    padding-top: 30px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 105px;
    margin-bottom: 80px;
    // text-align: center;
    text-align: justify;
    text-justify: inter-word;
}

.col-sm-12 {
    background-color:#F5FFD1;
    padding-top: 30px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 105px;
    margin-bottom: 80px;
    // text-align: center;
    text-align: justify;
    text-justify: inter-word;
}


#about {
    width: 93.5%; /* Set width to 100% */
    height: 68% !important;
    margin: auto;
    margin-top: 13px;
    // margin-bottom: 80px;
    padding-left: 10px;
    // position: center;
}

#one.col-sm-6 {
    padding-bottom: 48px;
}

#contactNum , #phoneTitle {
    // text-indent: 100px;
    float: left;
    margin: 0;
    padding: 0;
}

#num {
    list-style-type: none;
    text-indent: 100px;
}

#emailAdd , #emailTitle {
    // text-indent: 100px;
    float: left;
    margin: 0;
    padding: 0;
}

#email {
    list-style-type: none;
    text-indent: 107px;
}

#twoCU.col-sm-6 {
    padding-top: 150px;
    padding-bottom: 163px;
    padding-left: 120px;
    // text-align: justify;
    // text-justify: inter-word;
}

#oneCU.col-sm-6 {
    padding-top: 35px;
    padding-bottom: 37px;
    padding-left: 35px;
    // text-align: justify;
    // text-justify: inter-word;
}

#ourTeam {
    padding-left: 325px;
    // display: block;
    // margin: 0 auto;
}

#oneOT.col-sm-12 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
}

#mess {
    padding-left: 350px;
}

#man.jumbotron { 
    background-color: #1b8e1b;
    color: #ffffff;
    padding: 100px 25px;
}

#volunteer.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#messages.container-fluid {
    background-color: #FEEFB1;
    padding: 10px 50px;
    height: 230px !important;
    overflow: scroll;
}

#donations.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#completed.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#assign.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#progress.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#ajobs.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#cjobs.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#mreq.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#creq.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

#donor.container-fluid {
    background-color: #FEEFB1;
    padding: 60px 50px;
    overflow: scroll;
}

h3 {
    color: #075201;
}